<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ClientTRICLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <applicationSettings>
    <ClientTRICLib.Properties.Settings>
      <setting name="ClientTRICLib_wsIntegration_ServiceIntegrator"
        serializeAs="String">
        <value>https://is2.itpc.ru:333/wsintegrator.ServiceIntegrator.svc</value>
      </setting>
    </ClientTRICLib.Properties.Settings>
  </applicationSettings>
</configuration>
